.inlineDisplay{
    display: inline-flex;
}

.textColor{
    color: #0095f6;   
    font-size: 14px;
}

.fontSize{
    font-size: 14px;
}

.footer{
    font-size: 12px;
    display: inline-flex;
    text-indent: 5px;
    color: rgba(var(--edc,199,199,199),1)
}