#darkMode {
    
    background-size: 30px 30px;
    width: 35px;
    height: 35px;
    filter: grayscale(100%);
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
  }
  
  #darkMode:hover,
  #darkMode:focus {
    filter: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  #darkMode.clicked {
    filter: none !important;
    background-color: rgb(30, 31, 32)k;
  }
  :root {
    --blue: rgb(30, 31, 32);
    --white: rgb(236, 236, 236);
  }
  body.light {
    --background-color: var(--white);
    --text-color: var(--blue);
    --font-weight: 400; 
  }
  body.dark {
    --background-color: var(--blue);
    --text-color: var(--white);
    --font-weight: 500;
  }
  body {
    background: var(--background-color);
    color: var(--text-color);
    font-weight: var(--font-weight);
    transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
  }
  #image {
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.7s ease-in-out;
    background-image: var(--image);
  }
  nav {
    padding: 1rem 25%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--text-color);
  }
  
  nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--background-color);
  }