.footerLinks {
    display: flex;
    justify-content: center;
    align-items: right;
}

.footerLinks a {
    text-decoration: none;
    font-size: clamp(0.1rem, 1vw, 0.8rem); ;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.footerLinks a:hover {
    text-decoration: none;
    color: blue;
}

.copyright {
    font-size: 0.8rem;
    margin-top: 22px !important;
    margin-left: 20px !important;
}