.modal-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px !important;
}

.modal-container {
  min-width: 348px !important;
  min-height: 391px !important;
  width: 100vw;
  height: 100vw;
  max-width: 855px !important;
  max-height: 898px !important;
  border-radius: 15px !important;
}

.close-button {
  position: absolute !important;
  color: rgba(38, 38, 38);
  right: 10px;
  top: 10px;
  z-index: 1500;
}

.dialog-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 42px;
  font-size: 16px;
  font-weight: bold;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
}
